:root {
  --accent-color: #e5204c;
  --dm-link-text-color: var(--dm-muted-text-color) !important;
  --dm-link-text-color-hover: var(--dm-text-color) !important;
  --base-html-font-size: 48%;
  --base-html-font-size-1600: 50%;
  --base-html-font-size-1920: 62.5%;
  --tooltip-width: 17rem;
  --card-border-width: 0;
  --sidebar-border-width: 0;
  --input-border-width: 0;
  --sidebar-minimised: 0px;
  --sidebar-width: 0px;
  --navbar-height: 7rem;
  --statusbar-height: 3.2rem;
  --tertiary-color: #2e74e4 !important;
  --quaternary-color: #98c379 !important;
  --highlight-color: rgb(255, 255, 255);
  --dark-color-base-hue: 220deg !important;
  --dark-color-base-saturation: 10% !important;
  --dark-color-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 10% !important;
  --dark-color-light: #25292F !important;
  --dm-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  --dm-input-border-color: none;
  --gray-color-light: hsl(var(--gray-color-light-hsl));
  --gray-color-light-hsl: var(--gray-color-base-hue), 10%, 28%;
  --gray-color-base-hue: 216;
  --safe-area-top: 0px;
  --safe-area-left: 0px;
  --sidebar-gradient: linear-gradient(90deg, #17191D 15.62%, rgba(23, 25, 29, 0.92) 36.46%, rgba(23, 25, 29, 0.619632) 70.83%, rgba(23, 25, 29, 0) 100%);
  --banner-gradient-bottom: linear-gradient(0deg, #17191D 0%, #0000 15%, #0000 100%);
  --banner-gradient-left: linear-gradient(90deg, #17191D 0%, rgba(23, 25, 29, 0.5) 75%, rgba(25, 28, 32, 0) 100%);
  --torrent-card-gradient: linear-gradient(90deg, #17191C 32%, rgba(23, 25, 28, 0.90) 100%);
  --torrent-banner-gradient: linear-gradient(0, #131416 15%, rgba(23,25,28,0.64) 85%), linear-gradient(to left, #131416 0, transparent 1%);
  --notification-card-gradient: linear-gradient(90deg, rgba(23, 25, 28, 0.98) 32%, rgba(23, 25, 28, 0.85) 100%);
  --episode-card-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 77.08%, rgba(0, 0, 0, 0.7) 100%);
  --episode-preview-card-gradient: linear-gradient(180deg, #0000 0%, #25292f00 80%, #25292f 100%);
  --preview-card-end-gradient: linear-gradient(180deg, #0000 0%, #25292f00 85%, #25292fe3 95%, #25292f 98%);
  --preview-card-trailer-gradient: linear-gradient(180deg, #0000 0%, #25292f00 85%, #25292fe3 95%, #25292f 100%);
  --section-end-gradient: linear-gradient(270deg, #17191cff 0%, #17191c00 100%);
  --warning-color: rgb(211 175 24);
  --error-color: rgb(71, 4, 4);
  --adult-color: rgb(215, 6, 10);
  --dubbed-color: rgb(255, 214, 0);
  --subbed-color: rgb(137, 39, 255);
  --incomplete-color: rgb(255, 94, 0);
  --delayed-color: rgb(188, 32, 35);
  --episode-color: rgb(204, 204, 255);
  --announcement-color: rgb(255, 255, 240);
  --success-color-subtle: rgb(36, 138, 0);
  color-scheme: dark;
}

@font-face {
  font-family: "Roboto";
  src: /* webpackIgnore: true */ url(Roboto.ttf) format("truetype");
  unicode-range: U+0000, U+0002, U+0009, U+000D, U+0020-007E, U+00A0-0377,
      U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
      U+03F0-052F, U+1AB0-1ABE, U+1D00-1DF5, U+1DFC-1F15, U+1F18-1F1D,
      U+1F20-1F45, U+1F48-1F4D, U+1F50-1F57, U+1F59, U+1F5B, U+1F5D,
      U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3, U+1FD6-1FDB,
      U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-2027, U+202F-205F,
      U+2070-2071, U+2074-208E, U+2090-209C, U+20A0-20BE, U+20DB-20DC,
      U+20E3, U+20E8, U+20F0, U+2100-2101, U+2103, U+2105-2106, U+2109,
      U+2113, U+2116-2117, U+211E-2123, U+2125-2126, U+212A-212B, U+212E,
      U+2132, U+213B, U+214D, U+214F-2189, U+2191, U+2193, U+2202, U+2206,
      U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260,
      U+2264-2265, U+2423, U+25CA, U+2669-266F, U+27E6-27EF, U+2B4E-2B4F,
      U+2B5A-2B5F, U+2C60-2C7F, U+2DE0-2E42, U+A640-A69D, U+A69F,
      U+A700-A7AD, U+A7B0-A7B1, U+A7F7-A7FF, U+A92E, U+AB30-AB5F,
      U+AB64-AB65, U+EE01-EE02, U+F6C3, U+FB00-FB06, U+FE20-FE2D, U+FEFF,
      U+FFFC-FFFD, U+1F16A-1F16B;
}

@font-face {
  font-family: "Twemoji";
  src: /* webpackIgnore: true */ url(Twemoji.ttf) format("truetype");
  unicode-range: U+1F1E6-1F1FF;
}

.dark-mode {
  background-color: var(--dark-color) !important;
}

.h-0 {
  height: 0;
}

.h-20 {
  height: 2rem !important;
}

.h-30 {
  height: 3rem;
}

.h-40 {
  height: 4rem;
}

.h-80 {
  height: 8rem;
}

.w-30 {
  width: 3rem;
}

.w-40 {
  width: 4rem;
}

.w-115 {
  width: 11.5rem;
}

.w-120 {
  width: 12rem;
}

.w-800 {
  width: 80rem !important
}

.w-1000 {
  width: 100rem
}

.mh-full {
  max-height: 100%;
}

.vwh-90 {
  width: 90vw !important;
  height: 90vh !important;
}

.wh-25 {
  width: 2.5rem;
  height: 2.5rem;
}

.mw-0 {
  min-width: 0;
}

.mw-100 {
  min-width: 10rem !important;
}

.mw-120 {
  min-width: 12rem;
}

.mw-150 {
  min-width: 15rem;
}

.mw-200 {
  min-width: 20rem;
}

.mw-350 {
  min-width: 35rem;
}

.wm-600 {
  max-width: 60rem;
}

.wm-1000 {
  max-width: 100rem;
}

.wm-1150 {
  max-width: 115rem;
}

.wm-1200 {
  max-width: 120rem;
}

.hm-400 {
  max-height: 40rem;
}

@media (min-width: 769px) {
  :root {
    --sidebar-minimised: 7rem;
    --sidebar-width: 7rem;
    --navbar-height: 0px;
  }
}

.status-transition {
  transition: height, padding .3s ease 2s;
}

.scrollbar-none {
  scrollbar-width: none;
}

.flex-1 {
  flex: 1;
}

.line-height-1 {
  line-height: 1;
}

.line-height-normal {
  line-height: normal;
}

.line-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-break-word {
  word-break: break-word;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a[href]:active, button:not([disabled]):active:not([data-sonner-toast] > button), fieldset:not([disabled]):active, input:not([disabled], [type='range'], .not-reactive):active, optgroup:not([disabled]):active, option:not([disabled]):active, select:not([disabled]):active, textarea:not([disabled]):active, details:active, [tabindex]:not([tabindex="-1"], .seekbar, .dropdown, .scoring, .not-reactive):active, [contenteditable]:active, [controls]:active {
  transition: box-shadow 0.1s ease, filter 0.1s ease !important;
  filter: brightness(0.95) contrast(1.05) !important;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1), 0 .4rem .6rem rgba(0, 0, 0, 0.05) !important;
  transform: translateY(0.15rem) !important;
}

.btn-secondary {
  --dm-button-secondary-bg-color: #fff !important;
  --dm-button-secondary-bg-color-hover: #ddd !important;
  --dm-button-secondary-bg-color-focus: var(--dm-button-secondary-bg-color) !important;
}

[data-sonner-toaster][data-theme='dark'] {
  top: 5rem !important;
  --normal-bg: var(--dark-color) !important;
  --normal-border: none !important;
  --normal-text: var(--dm-base-text-color) !important;

  /* --success-bg: var(--success-color) !important; */
  --success-border: none !important;
  /* --success-text: var(--lm-base-text-color) !important; */

  /* --error-bg: hsl(358, 76%, 10%); */
  --error-border: none !important;
  /* --error-text: hsl(358, 100%, 81%); */
}

[data-sonner-toast] > button {
  position: absolute !important;
  margin-left: 94% !important;
  right: 0 !important;
  margin-top: 1.4rem !important;
  border-radius: .4rem !important;
  border-color: transparent !important;
  background-color: transparent !important;
  color: #eee !important;
}

[data-sonner-toast] > button svg {
  width: 2rem !important;
  height: 2rem !important;
  stroke-width: 2.5 !important;
}

[data-sonner-toast] > div:nth-child(2) > div:first-child {
  line-height: 1.1 !important;
}

[data-sonner-toaster] [data-description] {
  white-space: pre-wrap;
}

.first-audio {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-right: -.3rem !important;
}

.vertical-flip {
  transform: scaleY(-1);
}

.z--1 {
  z-index: -1 !important;
}
.z-1 {
  z-index: 1 !important;
}
.z-2 {
  z-index: 2 !important;
}
.z-3 {
  z-index: 3 !important;
}
.z-4 {
  z-index: 4 !important;
}
.z-5 {
  z-index: 5 !important;
}
.z-55 {
  z-index: 55;
}
.z-100 {
  z-index: 100;
}
.z-101 {
  z-index: 101 !important;
}
.z-102 {
  z-index: 102;
}

.text-success-subtle {
  color: var(--success-color-subtle);
}
.text-dark-light {
  color: var(--gray-color-light);
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mt-2 {
  margin-top: .2rem;
}
.mt-3 {
  margin-top: 0.3rem;
}
.mt-30 {
  margin-top: 3rem !important;
}
.mt-70 {
  margin-top: 7rem;
}
.mt-100 {
  margin-top: 10rem;
}

.h-10 {
  height: 1rem !important;
}
.h-25 {
  height: 2.5rem !important;
}

body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  user-select: none;
  font-family: 'Nunito Variable'
}

.font-weight-very-bold {
  font-weight: 900;
}

.font-twemoji {
  font-family: 'Twemoji';
}

.bg-black {
  background: #000;
}

.bg-warn {
  color: hsl(45, 100%, 19%) !important;
  border-color: hsl(44, 100%, 31%) !important;
  background-color: var(--warning-color) !important;
}

.bg-error {
  border-color: hsl(0, 100%, 25%) !important;
  background-color: var(--error-color) !important;
}

.bg-adult {
  border-color: var(--adult-color) !important;
  background-color: var(--adult-color) !important;
}

.bg-dubbed {
  border-color: var(--dubbed-color) !important;
  background-color: var(--dubbed-color) !important;
}

.bg-subbed {
  border-color: var(--subbed-color) !important;
  background-color: var(--subbed-color) !important;
}

.bg-incomplete {
  border-color: var(--incomplete-color) !important;
  background-color: var(--incomplete-color) !important;
}

.bg-watching {
  border-color: rgb(61,180,242) !important;
  background-color: rgb(61,180,242) !important;
}

.bg-delayed {
  border-color: var(--delayed-color) !important;
  background-color: var(--delayed-color) !important;
}

.bg-episode {
  border-color: var(--episode-color) !important;
  background-color: var(--episode-color) !important;
}

.bg-announcement {
  border-color: var(--announcement-color) !important;
  background-color: var(--announcement-color) !important;
}

.bg-success-subtle {
  border-color: var(--success-color-subtle) !important;
  background-color: var(--success-color-subtle) !important;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}

.btn:disabled {
  opacity: 0.3 !important;
}

img {
  -webkit-user-drag: none;
}

.select-all {
  user-select: all;
}

img[src=''], img[src=' '] {
  display: none;
}

::-webkit-inner-spin-button {
  display: none;
}

*:focus-visible {
  outline: none;
  border-radius: .5rem;
  box-shadow: inset 0 0 0 .4rem var(--tertiary-color) !important;
}

.btn-secondary:focus-visible {
  box-shadow: inset 0 0 0 1.5px #000 !important;
}

.modal:focus-visible {
  box-shadow: none !important;
}

.content-visibility-auto {
  content-visibility: auto;
}

.nav-hidden > .content-wrapper {
  left: 0 !important;
  width: 100% !important;
}

.favourite {
  animation: favourite_glow 1s ease-in-out infinite alternate;
  will-change: drop-shadow;
}
@keyframes favourite_glow {
  from { filter: drop-shadow(0 0 1.5rem var(--tertiary-color)) }
  to { filter: drop-shadow(0 0 0.4rem var(--tertiary-color)) }
}

.load-in {
  animation: .4s ease 0s 1 load-in;
  will-change: transform;
}
@keyframes load-in {
  0% { transform: translateY(1.5rem) scale(0.98) }
  60% { transform: translateY(-0.25rem) scale(1.015) }
  100% { transform: none }
}

@keyframes skeleton-swipe {
  0% { transform: translateX(-100%) }
  100% { transform: translateX(100%) }
}

.skeloader {
  position: relative;
  overflow: hidden;
  background-color: hsl(var(--dark-color-hsl));
}

.skeloader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, hsla(var(--dark-color-hsl), 0.5) 50%, transparent 100%);
  animation: skeleton-swipe 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  pointer-events: none;
}

.align-content-start {
  align-content: start;
}

.cover-img {
  object-fit: cover;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.option {
  border: .1rem solid var(--dark-color-light);
}
.option:hover {
  border: .1rem solid var(--highlight-color);
}

.pre-wrap {
  white-space: pre-wrap
}

.p-4 {
  padding: 0.4rem;
}
.p-30 {
  padding: 3rem;
}
.pr-30 {
  padding-right: 3rem;
}
.pl-40 {
  padding-left: 4rem;
}

.py-30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-40 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.px-50 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.mr--8 {
  margin-right: -.8rem !important;
}
.mr-30 {
  margin-right: 3rem !important;
}
.mr-40 {
  margin-right: 4rem !important;
}
.mr-50 {
  margin-right: 5rem;
}

.dr-arrow {
  z-index: 0;
}

.dr-arrow::after {
  content: '';
  position: absolute;
  bottom: -.8rem;
  right: 1.2rem;
  z-index: -1;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid var(--dark-color);
}

.radius-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.radius-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-10 {
  border-radius: 1rem;
}
.rounded-top-10 {
  border-radius: 1rem 1rem 0 0;
}

.bd-highlight {
  border: .1rem solid transparent;
}
.bd-highlight:hover {
  border: .1rem solid var(--highlight-color);
}

.muted {
  color: var(--gray-color-light) !important
}
.muted:hover {
  color: var(--highlight-color) !important
}

button.bg-dark:not([disabled]):hover {
  background: var(--dark-color-light) !important;
}
button.bg-dark-light:not([disabled]):hover {
  background: var(--gray-color-light) !important;
}